{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title%}Flacabana - Login{%endblock%}

{% block page_content %}
<div class="page-header">
    <h1>User:{{user.username}}</h1>
</div>
<div class="col-md-4">
    <p>
        {% if user.username %}{{user.username}}{%endif%}</p><p>
        Role:{% if user.role_id %}{{user.role_id}}{%endif%}</p><p>
        True name:{% if user.truename %}{{user.truename}}{% endif%}</p><p>
        School ID:{% if user.school_id %}{{user.school_id}}{%endif%}</p><p>
        Last seen on:{{user.last_seen}}
    </p>
    <p><a href="{{url_for('change_psw')}}">Change your password</a></p>
</div>
{% endblock %}